
  <%= link_to question_path(question) ,class: "question-box",id: "question-#{question.id}" do%>
    <span class="question-title"><%= question.title %></span>
    <span class="question-timestamp"><%= time_ago_in_words(question.created_at) %> 前に投稿</span>
  <%end%>
