<%= form_with(model: @question, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "質問内容を入力", class: 'form-box' %>
  </div>
  <%= f.submit "Post", class: "btn btn-submit" %>
<% end %>
