<h1 class="question-show">質問内容確認</h1>

<div class="question-show-wrapper">
  <div class="question-show-container">
    <h3>
      <%= @question.title %>
    </h3>
    <div class="question-confirmation-box">
      <%= safe_join(@question.content.split("\n"),tag(:br)) %>
    </div>
  </div>
</div>