<% provide(:title, "ヘルプ")%>
<h1>Q & A よくある質問一覧</h1>


<div class="qanda-list-wrapper">
  <div class="qanda-list">
    <div class="qanda-content">
      <details>
        <summary><span>Q.</span>situmon</summary>
        <p><span>A.</span>kotaegahaitteimasu</p>
      </details>
    </div>
    <div class="qanda-content">
      <details>
        <summary><span>Q.</span>situmon</summary>
        <p><span>A.</span>kotaegahaitteimasu</p>
      </details>
    </div>
    <div class="qanda-content">
      <details>
        <summary><span>Q.</span>situmon</summary>
        <p><span>A.</span>kotaegahaitteimasu</p>
      </details>
    </div>
  </div>
</div>


