<div class="signup-wrapper">
  <div class="introduction-app-container">
    <h1>リモート自習塾、<br>好きな時に先生に質問</h1>
  </div>
  <div class="signup-container">
    <%= link_to '新規登録する', "#" , class: "signup-btn btn"%>
  </div>
</div>