<% provide(:title, "ユーザプロフィール")%>
<div class="user-controller">
  <p class="user-name"><%= @user.name %>さんPleaseTeachMeへようこそ</p>
  <div class="user-controller-menu">
    ユーザが行えるメニューが表示されます
  </div>
</div>

<div class="questions-wrapper">
  <% if @user.questions.any? %>
    <h3 class="questions-count"><%= @user.questions.count %>個の質問をしています</h3>
    <div class="questions-container">
      <%= render @questions %>
    </div>
  <% end %>
</div>