<% provide(:title, "ユーザプロフィール")%>
<div class="user-controller">
  <p class="user-name"><%= @user.name %>さんPleaseTeachMeへようこそ</p>
  <div class="user-controller-menu">
    ユーザが行えるメニューが表示されます
  </div>
</div>

<div class="quesitons-container">
  <% if @user.questions.any? %>
    <h3>questions (<%= @user.questions.count %>)</h3>
    <ol class="questions">
      <%= render @questions %>
    </ol>
  <% end %>
</div>