/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// application.scssの冒頭に以下の記述を追記

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

@import "reset";
@import "header_background";

// main-contents
.main-container::before {
  content: "";
  width: 100%;
  height: 15vh;
  display: block;
}

// header
.header-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: $back_img;
  nav {
    width: 70%;
    .nav-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .static-pages-nav {
        width: 50%;
        .nav {
          list-style: none;
          width: 100%;
          overflow: hidden;
          li {
            float: left;
            text-align: left;
            width: 30%;
            a {
              text-decoration: none;
              font-weight: bold;
              color: whitesmoke;
              font-size: 1.2rem;
            }
          }
        }
      }
      .user-nav-wrapper {
        width: 50%;
        text-align: right;
        button {
          margin-right: 100px;
          background-color: whitesmoke;
          width: 70px;
          height: 45px;
          border-radius: 35px;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            .user-menu-logo {
              margin: 0 auto;
            }
          }
        }
        .user-nav {
          position: absolute;
          left: 0;
          width: 100%;
          display: none;
          justify-content: flex-end;
          ul {
            border-radius: 10px;
            background-color: white;
            width: 25%;
            margin-right: 100px;
            list-style: none;
            text-align: left;
            padding: 10px 0;
            li {
              line-height: 3rem;
              a {
                display: block;
                width: 100%;
                color: black;
                text-decoration: none;
                padding-left: 5%;
              }
              a:hover {
                background-color: aliceblue;
              }
            }
          }
        }
      }
    }
  }
  .app-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
}

// footer
.footer-wrapper {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  .copy-right-container {
    width: 40%;
    display: flex;
    align-items: center;
  }
  .sns-container {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
      text-align: right;
      width: 30%;
    }
    ul {
      width: 40%;
      list-style: none;
      li {
        float: right;
        width: 22%;
        text-align: right;
        a {
          .sns-icon {
            font-size: 1.5em;
            color: #880016;
          }
        }
      }
    }
  }
}

// flash-message
.alert {
  text-align: center;
}

.alert-success {
  background-color: #0cc4e8;
  color: aliceblue;
}

.alert-danger {
  color: red;
}

// フォームデザイン

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.form-box {
  width: 100%;
  @include box_sizing();
  border: 2px solid #880016;
  border-radius: 20px;
  padding: 0 6px;
  height: auto !important;
  margin-bottom: 40px;
  outline: none;
}
