// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.question-head {
  color:#880016;
}

.question-form-container{
  width: 50%;
  margin: 0 auto;
  >form {
    > .btn-submit{
      width: 30%;
      background-color: #880016;
      color: white;
      text-align: center;
      display: block;
      margin: 60px auto 100px auto;
    }
  }
}