// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup-wrapper {
  display: flex;
  justify-content: center;
  > div {
    width: 40%;
  }
}

.introduction-app-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

.signup-container {
  width: 100%;
  text-align: center;
  margin: auto;
}
