// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// ユーザ詳細画面

.main-container {
  width: 100%;
}

.user-controller {
  text-align: center;
  width: 100%;
  margin: 5vh 0;
}

.questions-wrapper{
  width: 100%;
  > .questions-count {
    text-align: center;
  }
  > .questions-container {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > .question-box {
      position: relative;
      border: 1px solid black;
      border-radius: 5px;
      margin: 1vh;
      height: 30vh;
      width: 30%;
      text-align: center;
      > .question-title {
        display: block;
        width: 100%;
        margin-top: 1vh;
      }
      > .question-timestamp {
        position: absolute;
        bottom: 5px;
        text-align: right;
      }
    }
  }
}

/* forms */

h1{
  text-align: center;
  margin: 40px 0;
}

.form-box {
  width: 100%;
  @include box_sizing();
  border: 2px solid #880016;
  border-radius: 20px;
  padding: 0 6px;
  height: auto !important;
  margin-bottom: 40px;
}

.user-form-container{
  width: 50%;
  margin: 0 auto;
  >form {
    > .btn-submit{
      width: 30%;
      background-color: #880016;
      color: white;
      text-align: center;
      display: block;
      margin: 60px auto 100px auto;
    }
  }

  
  
}
