<footer>
  <div class="footer-wrapper">
    <div class="copy-right-container">©︎ 2020 Please Teach Me, All rights reserved</div>
    <div class="sns-container">
      <div>管理人 SNS</div>
      <ul>
        <li>
          <%= link_to '#' do %>
            <i class="fab fa-twitter sns-icon"></i>
          <% end %>   
        </li>
        <li>
          <%= link_to '#' do %>
            <i class="fab fa-facebook-f sns-icon"></i>
          <% end %>   
        </li>
        <li>
          <%= link_to '#' do %>
            <i class="fab fa-github sns-icon"></i>
          <% end %>   
        </li>
      </ul>
    </div>
  </div>
</footer>